.big-container {
  min-height: 100vh;
}

.blur {
  min-height: inherit;
  backdrop-filter: blur(8px)
}

.background-color-sec {
  background-color: $secondary-color;
}

.grid-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  gap: 10px; /* Spacing between grid items */
  /* Add additional styling as needed */
}

.category-item {
  max-width: 200px;
}
