// Flexing the Container that has Map and Doctor's cards
.flexbox-wrapper {
  display: flex;
}

// Just for the Map
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  // background-color: red;
  margin-left: 20px;
}

// Card of Doctor picture and Schedule
.show-page-card {
  overflow: auto;
  width: 820px;
  height: 1000px;
  background: #DDDDDD;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 20px;
}


// Container of Card profile picture and name
.show-page-photo-card{
  width: 200px;
  // height: 200px;
  border-radius: 10px;
  background-color: #DDDDDD;
  margin-left: 20px;
  text-align: center;
  img {
    width: 144px;
    height: 113px;

  }

  h2 {
    font-size: large;
  }

  p {
    font-size: small;
    }
}

// Calendar Card with sevaral procedures
// .show-page-calendar-card {
// }


  .bio-card {
    overflow: auto;
    width: 820px;
    height: auto;
    background: #DDDDDD;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // display: flex;
  //  flex-direction: column;
    // align-items: center;
    text-align: center;
    margin-bottom: 20px;

  .inner{
    display: flex;
    justify-content: space-between;
    text-align: left;
    // background-color: #EEEEEE;
    border-radius: 10px;
    padding: 5px;
    margin: 30px 20px 20px 20px;
  }
  .expertise{
    text-align: left;
    margin: 30px 20px 20px 20px;
    // background-color: #EEEEEE;
    border-radius: 10px;
    padding: 5px;
  }
}


  .price-card {
    overflow: auto;
    width: 820px;
    height: auto;
    background: #DDDDDD;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 5px;
    // display: flex;
  //  flex-direction: column;
    // align-items: center;
    text-align: center;
    margin-bottom: 20px;

    .inside{
      // display: flex;
      // justify-content: space-between;
      text-align: left;
      // background-color: #EEEEEE;
      border-radius: 10px;
      padding: 5px;
      // margin: 30px 20px 20px 20px;
    }
    .table > :not(caption) > * > * {
      background-color: #DDDDDD;
    }

  }

  .review-card {
    overflow: auto;
    width: 820px;
    height: auto;
    background: #DDDDDD;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // display: flex;
  //  flex-direction: column;
    // align-items: center;
    text-align: center;
    margin-bottom: 20px;
    .inside{
      // display: flex;
      // justify-content: space-between;
      text-align: left;
      // background-color: #EEEEEE;
      border-radius: 10px;
      padding: 5px;
      // margin: 30px 20px 20px 20px;
    }
  }

  .location-card {
    overflow: auto;
    width: 820px;
    height: auto;
    background: #DDDDDD;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // display: flex;
  //  flex-direction: column;
    // align-items: center;
    text-align: center;
    margin-bottom: 20px;

    .inside{
      // display: flex;
      // justify-content: space-between;
      text-align: left;
      // background-color: #EEEEEE;
      border-radius: 10px;
      padding: 5px;
      // margin: 30px 20px 20px 20px;
    }

  }


.review-card {
  overflow: hidden;
  width: 820px;
  height: auto;
  background: #DDDDDD;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
//  flex-direction: column;
  // align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

// For Modal
.button {
  background-color: #4A4E69;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 12px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #C9ADA7;
  color: black;
}


.calendar {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.calendar-wrapper {
  display: flex;
}

#exampleModal {
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color with opacity */
}
