<h1>Show page for users_controller</h1>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <p>Location <strong>relevant info</strong> only.</p>
  </div>
</div>
