
<section class="hero">
    <%# // This is the form size code  %>
    <div class="search-form">
        <form class="form search-form-home" action="#" method="get">  
        <form class="form search-form-home" action="/users" method="get">
            <input type="text" class="input" name="q" placeholder=" ðŸ•´ Speciality ?">
            <input type="text" class="input" name="q" placeholder=" ðŸ“ Where ? ">
            <button type="submit">Search</button>
        </form>
    </div>
</section>

<section class="home-bg mt-5">
    <div class="container mt-2">
    <h3 class="text-center pt-4">
      <em><strong> Top - Searched Specialities</strong></em>
    </h3>

    <br>

    <div class="row mb-5">
      <div class="col-lg-4">
        <div class="card home-avatar">
          <%# <img src="image-url" class="card-img-top" alt="Card Image"> %>
          <div class="card-body">
            <%= image_tag 'dentist.png', height: 150 %>
            <h5 class="card-title"> <br> Dentist</h5>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card home-avatar">
          <%# <img src="image-url" class="card-img-top" alt="Card Image"> %>
          <div class="card-body">
            <%= image_tag 'psychiatrist1.png', height: 150 %>
            <br>
            <h5 class="card-title"> <br> Psychiatrist </h5>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card home-avatar">
          <%# <img src="image-url" class="card-img-top" alt="Card Image"> %>
          <div class="card-body">
            <%= image_tag 'eye.png', height: 150 %>
            <br>
            <h5 class="card-title"> <br> Eye Doctor </h5>


          </div>
        </div>
      </div>
     </div>
    </div>
</section>

<section class="home-bg mt-5">
  <div class="container px-3">
    <div class="bottom-card">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-md-6">
          <div class="card-png-top">
            <%= image_tag "doc.png", class: "card-image", alt: "Card png" %>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="bottom-card-info">
            <h3> Are you a provider interested in reaching more patients?</h3>
            <ul class="my-ul">
              <li><p>Reach patients in your area looking for a new provider</p></li>
              <li><p>Fill last-minute openings in your schedule</p></li>
              <li><p>FStrengthen your online reputation with verified reviews</p></li>
            </ul>
            <a href="#" class="btn btn-ghost"> Read More </a>
            <%# <a class="btn btn-ghost" href="#">Write a story</a> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2023 DOCSIGHT. All rights reserved.By Yusuf Uras Celikdemir</p>
  </div>
</footer>
