
<section class="hero">
    <h1 class="title">DOCSIGHT</h1>
    <div class="search-form">
        <form class="form" action="search-results.html" method="get">
            <input type="text" class="input" name="q" placeholder=" ðŸ•´ Speciality ?">
            <input type="text" class="input" name="q" placeholder=" ðŸ“ Where ? ">
            <button type="submit">Search</button>
        </form>
    </div>
</section>
  
<section class="home-bg mt-5">
    <div class="container mt-2">
    <h3>
    <p class="text-center pt-4"> <em> <strong> Top - searched Specialities</strong> </em> </p>
    </h3>

    <br>
    <div class="row mb-5">
      <div class="col-lg-4">
        <div class="card home-avatar">
          <%# <img src="image-url" class="card-img-top" alt="Card Image"> %>
          <div class="card-body">
            <%= image_tag 'dentist' %>
            <h5 class="card-title">Fastest</h5>
            <a href="#" class="main-btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card home-avatar">
          <%# <img src="image-url" class="card-img-top" alt="Card Image"> %>
          <div class="card-body">
            <%= image_tag 'dentist' %>
            <h5 class="card-title"> Leave Reviews </h5>
            <a href="#" class="main-btn">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card home-avatar">
          <%# <img src="image-url" class="card-img-top" alt="Card Image"> %>
          <div class="card-body">
            <%= image_tag 'dentist' %>
            <h5 class="card-title"> Mission  </h5>
            <a href="#" class="main-btn"> Read More </a>
          </div>
        </div>
      </div>
     </div>
    </div>
</section>

<section class="home-bg mt-5">
  <div class="container px-3">
    <div class="bottom-card">
      <div class="row justify-content-center">
        <div class="col col-md-4">
          <div class="card-png-top">
            <%= image_tag "doc.png", class: "card-image", alt: "Card png" %>
          </div>      
        </div>
        <div class="col col-md-4">
          <div class="bottom-card-info">
            <h3> Are you a provider interested in reaching more patients?</h3>
            <ul>
              <li><p>Reach patients in your area looking for a new provider</p></li>
              <li><p>Fill last-minute openings in your schedule</p></li>
              <li><p>FStrengthen your online reputation with verified reviews</p></li>
            </ul>
            <a href="#" class="main-btn"> Read More </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2023 DOCSIGHT. All rights reserved.By Yusuf Uras Celikdemir</p>
  </div>
</footer>
 