.font-c {
  color: white;
  text-align: center;
}

.mid-alignment {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.butt-style {
  border-radius: 25px;
}

.marg-bot {
  margin-top: 70px;
  margin-bottom: 60px;
}

.marg-change {
  padding: 15px;
}

.chng-color{
  opacity: .9;
}
.chng-color:hover {
  opacity: 1;
}

.bgrnd-col {
  background-color: black;
}

.col-text {
  color: white;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.mrg-20 {
  margin-top: 70px;
}

.bcg-col{
  // background-color: #F2E9E4;
  background-image: linear-gradient(#f4eae5, #f2e6e2);
  border-radius: 15px;
  box-shadow: 0px 0px 14px #C9ADA7;
}

.fa-solid.fa-circle-xmark.fa-xl {
  opacity: .7;
}

.fa-solid.fa-circle-xmark.fa-xl:hover {
  opacity: 1;
}

.mrgn-x{
  margin-left: 200px;
  margin-right: 200px;

}

.mrgintop{
  margin-top: 80px;
  margin-right: 100px;
}

.sec-bttn {
  margin-top: 25px;
  background-color: #746967;
  border-radius: 25px;
  opacity: .9;
  color: white;
}


.sec-bttn:hover{
  opacity: 1;
  color: white;
}
