.margin-at-top{
  margin-top: 150px;
}

.marg-between-fl{
  margin-top: 60px;
}

.bcg-colu{
  // background-color: #F2E9E4;
  background-image: linear-gradient(#f4eae5, #f2e6e2);
  border-radius: 15px;
  box-shadow: 0px 0px 14px #C9ADA7;
}

.chng-color{
  opacity: .9;
}
.chng-color:hover {
  opacity: 1;
}

.set-opa{
    opacity: .9;
}

  .set-opa:hover {
    opacity: 1;
}
