
a {
  text-decoration: none;
// remove all underlines to links

}

a:hover {
  text-decoration: none;
  // ----remove all underlines and link color changes on links on hovers
  color: black;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background-color: #f2e9e4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  }


.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  min-width: 650px;
  max-width: 650px
}

.container {
  width: 850px;
}

.marg-right{
  margin-right: 30px;
}

.bord-rad{
  border-radius: 16px;
}

.back-col{
  background-color: #C9ADA7;
}

.font-title{
  font-family: $headers-font;
}

.img-size{
 min-height: 120px;
 max-height: 120px;
background-size: cover;
border-radius: 10px;
}
