<%# Let's make a modal on this, no? %>

<div class="container border border-info mb-3">
  <%= simple_form_for([@appointment, @review]) do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit %>
  <% end %>
</div>
